*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #7adfff;
}

.container {
    max-width: 1200px;
    min-height: 800px;
    margin: 52px auto;
    padding: 0 16px;
}

.grid {
    display: grid;
    gap: 20px;
    grid-template-areas: 
       "box1 box1 box1 box3"
       "box2 box2 box2 box3"
       "box4 box4 box4 box3";
}

.box1 {

    grid-area: box1;
    background : #7f8eec;
}

.box2{

    grid-area: box2;
    background: #0a1e3c;
}

.box3{

    grid-area: box3;
    background: #005c79;
}

.box4 {
    grid-area: box4;
    background: #009DD1;
}


@media screen and (width > 1200px) {
    
}


@media screen  and (width < 1200px ) and ( width > 450 ){
   
   .grid{
    gap:16px;
   }
    
}


@media screen and (width <450px) {
    .container{
        margin: 20px auto;
    }
    .grid {
        gap:16px;
        grid-template-areas: 
        "box1"
        "box1"
        "box2"
        "box2"
        "box2"
        "box2"
        "box3"
        "box3"
        "box3";
    }
    
}
